/* =========================
   1. RESET & VARIABLES
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

:root {

  /* Brand */
  --primary: #F59E0B;        /* GOLDEN ORANGE HEADER */
  --primary-hover: #D97706;
  --accent:#D97706;         /* RED LOGO & CTA */

  /* Backgrounds */
  --bg-main: #F9FAFB;
  --bg-card: #FFFFFF;
  --bg-soft: #F3F4F6;

  /* Text */
  --text-dark: #111827;
  --text-muted: #6B7280;
  --white: #FFFFFF;

  /* Borders */
  --border-light: #E5E7EB;

  /* Radius */
  --radius-sm: 10px;
  --radius-md: 14px;
  --radius-lg: 20px;

  /* Shadow */
  --shadow-sm: 0 2px 10px rgba(0,0,0,0.08);
  --shadow-md: 0 10px 25px rgba(0,0,0,0.15);
}

/* =====================================================
   2. BASE STYLES
===================================================== */
html {
  scroll-behavior: smooth;
}
body {
   background: var(--bg-main);
  color: var(--text-dark);
  overflow-x: hidden;
  overflow-y: auto;   
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}


/* .container {
  max-width: 1200px;
  margin: auto;
} */
img {
  max-width: 100%;
  display: block;
}

main.layout {
  padding-left: 10px;
  padding-right: 10px;
}
/* =====================================================
   3. LAYOUT (Header, Hero, Sections)
===================================================== */
/* HEADER */
.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background:var(--primary); 
  box-shadow: var(--shadow-sm);
  }
  

/* Top row */
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
   padding: 3px 14px; 
   padding-top: 8px;
   
}

/* Left */
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 50px;
   filter: brightness(0) ;
}
/* ===== HAMBURGER ===== */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 27px;
  cursor: pointer;
  margin-right: 5px;
}

/* Right icons */
.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header-right a,
.hamburger {
 color: var(--text-light);
 
}
.header-right a {
  font-size: 18px;
  transition: 0.2s ease;
}
.header-right a:hover {
  transform: translateY(-1px);
   color: var(--accent);
}
/* SEARCH (shared) */
.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
 
}
/* search input and button  */
.header-search input {
   height: 36px;     
   width: 320px;                /* control size */
   max-width: 85%;
   padding: 0 14px;           /* vertical padding removed */
   border: 1px solid var(--border-light);            /* center */
   border-right: none;     /* remove middle border */
   border-radius: 20px 0 0 20px;
   box-shadow: inset 0 1px 5px rgba(0,0,0,0.15);
   background: #fff;
   outline: none;
   color:var(--text-dark);
   font-size: 14px;
}

/* button */
.header-search button {
  height: 36px;              
  padding: 0px 16px;
  border: 1px solid #333;   
  border-left: none;              /* remove middle border */      
   border-radius: 0 20px 20px 0;
   background: #111827;
   /* background: var(--accent); */
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
}
.header-search button:hover {
  background: #000;
}


/* Desktop search */
.desktop-search {
  flex: 1;
  display: flex;
  justify-content: center;
}
/* Mobile search hidden by default */
.mobile-search {
  display: none;
}

.header-search input::placeholder {
  color: #6b7280;
}
.header-search input:focus {
  box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
}
/* ===== MOBILE MENU ===== */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -280px;
  width: 280px;
  height: 100vh;
  /* background: #fff; */
   background: var(--bg-card);
  box-shadow: 2px 0 20px rgba(0,0,0,0.15);
 
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 2000;
  display: flex;
  flex-direction: column;
   padding: 10px 16px;
}

/* Active state */
.mobile-menu.active {
  transform: translateX(280px);
}

/* Header */
.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background: var(--primary);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
   margin-bottom: 15px;
  
}

.mobile-menu-header button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* Nav links */
.mobile-nav {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.mobile-nav a {
  padding: 14px 20px;
  text-decoration: none;
  /* color: #222; */
   color: var(--text-dark);
  font-size: 16px;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s;

  border-radius: 6px;
    display: block;
    padding: 10px;
}

.mobile-nav a:hover {
  background: #f7f7f7;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 1500;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/* Prevent body scroll when menu open */
body.menu-open {
  overflow: hidden;
}
#closeMenu{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255 ,255, 255, 0.2);
  color: #333;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}
#closeMenu:hover{
  background-color: #e6e6e6;

}
#closeMenu:active{
  transform: scale(0.95);
}
.contact-btn{
  background: var(--primary);
  color: wheat;
  border-radius: 10px;
  padding: 12px;
  font-weight: 600;
}
/* Hide mobile menu on desktop */
@media (min-width: 769px) {
  .mobile-menu,
  .overlay {
    display: none;
  }
}
/* for hamburger menu section cateriores css for dropdown */
.dropdown-toggle {
  width: 100%;
  background: none;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  background: #f7f7f7;
}

.dropdown-menu button {
  border: none;
  background: transparent;
  padding: 12px 20px;
  text-align: left;
  font-size: 15px;
}

.dropdown-menu.show {
  display: flex;
  
}
/* mobile category dropdown css */
.mobile-category {
  width: 100%;
  padding: 12px 16px;
  border: none;
  background: #fff;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background 0.2s;
}

/* hover */
.mobile-category:hover {
  background: #f2f2f2;
}

/* active selected */
.mobile-category.active {
  background: #e8f0ff;
  color: #0d6efd;
  font-weight: 600;
}

/* sidebar seciton css */
/* LAYOUT */
.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 16px;
  align-items: start;
}

/* product column */
.products-wrapper {
  width: 100%;
}

/* SIDEBAR */
.filters {
  /* background: #fff; */
   background: var(--bg-card);
  padding: 15px;
  border-radius: 12px;
  /* border: 1px solid #e5e7eb; */
  border: 1px solid var(--border-light);
  position: sticky;
  top: 80px; /* height of header */
  height: calc(100vh - 80px);
  overflow-y: auto;

  /* align-self: start; */
}
.filters h2 {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}

.filters section {
  margin-bottom: 18px;
}
.filters h3 {
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
}
.category-card {
  display: block;
  width: 100%;
  padding: 8px 10px;
  text-align: left;
  border-radius: 6px;
  border: none;
  background: #f3f3f3;
  margin-bottom: 6px;
  cursor: pointer;
}

.category-card.active {
  background: var(--primary);
  /* color: #000; */
  color: var(--text-light);
  font-weight: 600;
}

.site-footer {
  position: relative;
  z-index: 1;
}


/* grid of products */
.product-grid {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 14px;
  width: 100%;
  align-content: start;
}
/* ==============================
  Pagination
================================ */

.pagination {
   /* grid-column: 2 / 3;  */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 30px 0 10px;
}

.pagination button {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.pagination button.active {
  background: var(--primary);
  border-color: var(--primary);
}

/* ==============================
   PRODUCT CARD
================================ */
.product-card {
  background: var(--bg-card);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease;
 
}
.product-card:hover {
  /* transform: translateY(-1px); */
  /* box-shadow: var(--shadow-md); */
   box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

/* ==============================
   IMAGE AREA
================================ */
.product-img {
  position: relative;
  background: #f9fafb;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* width: 100%; */
  padding: 0;
  
}
.product-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ==============================
   WISHLIST BUTTON
================================ */
.wishlist {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 34px;
  height: 34px;
  background: #fff;
  border-radius: 50%;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  cursor: pointer;
  color: #444;
  font-size: 14px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.wishlist:hover {
  /* transform: scale(1.1); */
  box-shadow: 0 5px 12px rgba(0,0,0,0.25);
}

/* ==============================
   CONTENT
================================ */
.product-info {
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: none;
}

/* TITLE */
.product-card h3 {
  font-size: 14px;
  font-weight: 600;
  /* color: #222; */
   color: var(--text-dark);
  line-height: 1.3;
  margin: 0;
}

/* SHORT DESC */
.short-desc {
  font-size: 12px;
  /* color: #666; */
   color: var(--text-muted);
  margin: 0;
  
}
.product-card h3,
.short-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* ==============================
   PRICE ROW
================================ */

/* for product cards */
.product-card .price-row {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
   padding-top: 6px;  
}
.price {
    font-weight: 700;
    /* color: var(--primary-dark); */
     color: var(--accent);
    font-size: 15px;
}
.old-price {
  text-decoration: line-through;
  color:  #888;
  font-size: 13px;
}
.discount {
  color: green;
  font-size: 13px;
  font-weight: 600;
}

/* ==============================
   BUTTON
================================ */
.product-card button {
 margin-top: auto;
  width: 100%;
  padding: 8px;
   border-radius: 0 0 14px 14px;
  border: none;
  /* background: linear-gradient(135deg, #c89b3c, #e7c46a);
  color: #000; */
  background: var(--primary);
  color: var(--text-light);
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}
.product-card button:hover {
  /* background: linear-gradient(135deg, #b68a2f, #d4b14a); */
   background: var(--primary-hover);
}

/* ================= PRODUCT DETAIL PAGE ================= */


.product-detail-page{

  max-width: 1100px;
  margin: auto;
  padding: 20px;
  padding-bottom: 120px; 
}

/* IMAGE + THUMBNAILS */
.product-top{
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  gap: 30px;
  background: white;
  padding: 25px;
  border-radius: 16px;
   align-items:start;


}
/* LEFT SIDE */
.product-left{
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 15px;
}
/* MAIN IMAGE */
.main-image{
 position: relative;
  background: #f8f9fb;
  border-radius: 12px;
  padding: 20px;
  display:flex;
  justify-content:center;
  align-items:center;
  
 
}

.main-image img{
  width: 100%;
  max-height: 280px;
  object-fit: contain;
  border-radius: 10px;
}
/* SHARE BUTTON */
.share-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 40px;
  height: 40px;

   background: rgba(255,255,255,0.95);
  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  cursor: pointer;

  font-size: 18px;
  color: #222;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.share-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 12px rgba(0,0,0,0.25);
}
/* Thumbnails */
.thumbs {
  display: flex;
   flex-direction:column;
  justify-content: center;
  gap: 5px;
 
  /* margin-top: 10px; */
}
.thumbs img {
 width: 55px;
  height: 55px;
  object-fit: contain ;
 border:1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px;
  background: #fff;
  transition: border-color 0.2s;
}
.thumbs img:hover {
  border-color: var(--accent);
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background:rgba(12, 12, 12, 0.774);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
}
.close-btn:hover {
  /* background: var(--primary); */
  /* box-shadow: #111827; */
  transform: scale(1.1);
}

/* PRODUCT INFO */
.product-detail-info{
  /* flex:1; */
 background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-top: 12px;
}

.product-detail-info h1{
  font-size:18px;
 margin-bottom:8px;
}
.product-detail-info .price-row{
  display: flex;
  gap: 8px;
  margin:10px 0;
}
.product-detail-info .price {
  font-size: 20px;
  font-weight: bold;
  color: var(--accent);
}
.product-detail-info .old-price {
  text-decoration: line-through;
  color: #888;
}
.product-detail-info .discount {
  color: green;
  font-weight: bold;
}

.product-detail-info .product-desc{
 font-size:14px;
  color:#555;
  margin-top: 6px;
}
/* FEATURES */
.features {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.features li {
  margin-bottom: 6px;
}

/* Sticky action bar */
 .product-action-bar{
 position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 12px;
  padding-bottom: 20px;
  display: flex;
 
  gap: 12px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
  /* margin-top: 20px; */
}


/* Buttons */
.btn-cart,
.btn-whatsapp {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}


.btn-cart {
  background: linear-gradient(135deg,#444,#111);
  color: white;
  /* background: var(--text-dark); */
  /* color: var(--text-light); */
  border: none;
}

.btn-whatsapp {
  background: linear-gradient(135deg,#c89b3c,#e7c46a);
  /* color: #000; */
   /* background: var(--primary); */
  color: var(--text-light);
  transform: background 1s;
}
.btn-whatsapp:hover{
  background: var(--primary);
}

/* RELATED PRODUCTS */
.related-section{
  margin-top:30px;
}

.related-section h2{
  margin-bottom:12px;
}

.related-grid{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
  gap:14px;
}

.related-grid .product-card {
  background: var(--bg-card);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  
}

.related-grid img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}


/* =====================================================
   4. COMPONENTS
===================================================== */
/* global buttons */
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s ease;
}
.btn-primary {
  border-radius: 30px;
  /* background: linear-gradient(45deg, var(--primary), #fb923c); */
  background: var(--primary);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-outline {
  border-radius: 30px;
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-primary,
.btn-outline {
  padding: 12px 28px;
}
.btn-small {
  padding: 6px 14px;
  font-size: 13px;
}
.btn-primary:hover,
.btn-outline:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 8px 20px rgba(249, 115, 22, 0.5);
}
/* FOOTER */
/* FOOTER  section */
.site-footer {
  background: #0f0f14;
  color: #ccc;
  padding: 50px 20px 20px;
  margin-top: 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-logo {
  width: 190px;
  margin-bottom: 15px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.8;
}

.footer-col h4 {
  color: #fff;
  margin-bottom: 12px;
  font-size: 16px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: var(--primary);
}

.footer-col p {
  font-size: 14px;
  margin: 8px 0;
}
.footer-col p a  {
  color: #fff; /* or your footer text color */
  text-decoration: none;
}

.footer-col p a:hover {
  color: #25d366;
}

.footer-social {
  display: flex;
  gap: 12px;
  margin: 10px 0;
}

.footer-social a {
  width: 36px;
  height: 36px;
  background: #1a1a22;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

.footer-social a:hover {
  background: var(--primary);
  transform: translateY(-3px);
}

.trust-text {
  font-size: 13px;
  opacity: 0.7;
  margin-top: 10px;
}
.footer-location {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.footer-location:hover {
  color: var(--primary);
  text-decoration: underline;
}

.dev-credit a {
  color: var(--primary);
  text-decoration: none;
}

.dev-credit a:hover {
  text-decoration: underline;
}
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  opacity: 0.7;
}
/* WhatsApp Floating Button */
.whatsapp-float {
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: 56px;
  height: 56px;
  background: #25d366;
   /* background: #F59E0B; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  z-index: 5000;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.whatsapp-float:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.whatsapp-float img {
  width: 28px;
  height: 28px;
}


/* ==============================
   RESPONSIVE
================================ */
/* //mobile  */
@media (max-width: 768px) {
  /* footer button  */
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }

   .layout {
    grid-template-columns: 1fr;
    margin:0;
  }


  .filters {
    position: fixed; /* if you want hamburger sidebar */
    left: -100%;
    transition: 0.3s;
  }


  .filters.active {
    left: 0;
  }

  .product-grid {
    grid-template-columns: repeat(2,1fr);
  }
   .product-img {
    height: 160px;
  }
  /* //////////////////////// */
  .desktop-nav {
    display: none;
  }
 .desktop-search {
    display: none;   /* hide top search */
  }

  .mobile-search {
     /* show bottom search  */
     display: flex;
    justify-content: center;
    padding: 6px 0 10px; /* small spacing */
    
  }
  .product-top{
    grid-template-columns:1fr;
  }
  .product-left{
    grid-template-columns: 1fr;
  }
   .thumbs{
    flex-direction:row;
    justify-content:center;
  }
  .product-image{
    height:250px;
  }
  
 
   .main-image{
    height:300px;
  }


   .hamburger {
    display: block;
  }

  /* .filters {
    display: none; 
  } */
   
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-img {
    height: 140px;
  }
}